<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3 shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="https://a.espncdn.com/combiner/i?img=/i/leaguelogos/soccer/500/1543.png" alt="logo" height="50" />
            Fútbol Colombiano
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" 
        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse justify-content-center justify-content-lg-end" id="navbarContent">
            <ul class="navbar-nav mb-2 mb-lg-0 text-center">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/fotos/visor">Estadios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/noticias/">Noticias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/partidos/">Clasificación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/">Admin</a>
                </li>
                <li class="nav-item">
                    <button
                    type="button"
                    class="btn btn-secondary"
                    onclick="toggleTheme()">
                    <i class="ri-sun-foggy-line"></i>
                  </button>
                </li>

            </ul>
        </div>
    </div>
</nav>
